<%
/*///////////////////////////////////////////////////////////////////////////

  各種パスの設定 : このエリアはどのテンプレートでも共通です ※編集しないでください

///////////////////////////////////////////////////////////////////////////*/
filename = filename.replace(/\\/g, '/');
ABSOLUTE_PATH = filename.split(config.develop_dir)[filename.split(config.develop_dir).length - 1];
RELATIVE_PATH = '../'.repeat([ABSOLUTE_PATH.split('/').length - 2]);
INCLUDE_PATH = RELATIVE_PATH + 'include/';

include(INCLUDE_PATH + 'tool/_path');
include(INCLUDE_PATH + 'tool/_functions');
/*///////////////////////////////////////////////////////////////////////////

  ここまで編集不可エリア

///////////////////////////////////////////////////////////////////////////*/

/* Local Variables
   ----------------------------------------------------------------- */
// ページ名の設定
const page_name = 'home';

// imgディレクトリへの相対パス
const img_path = assetsRelative() + 'img';
-%>

<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no">

  <link rel="shortcut icon" href="<%= img_path; %>/common/favicon.ico">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

  <title><%= info[page_name].title; %></title>

  <meta name="description" content="<%= info[page_name].description; %>">
  <meta name="keywords" content="<%= info[page_name].keywords; %>">

  <!-- meta for sns -->
  <meta property="og:title" content="<%= info[page_name].title; %>" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="<%= info[page_name].url; %>" />
  <meta property="og:image" content="<%= info[page_name].ogp_image; %>" />
  <meta property="og:site_name" content="<%= config.site_name; %>" />
  <meta property="og:description" content="<%= info[page_name].description; %>" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="<%= info[page_name].title; %>" />
  <meta name="twitter:image" content="<%= info[page_name].ogp_image; %>" />
  <meta name="twitter:description" content="<%= info[page_name].description; %>" />

  <!-- local CSS -->
  <%- include(INCLUDE_PATH + 'foundation/_styles', { css_path: assetsRelative() + 'css' }); -%>
</head>

<body id="<%= page_name; %>">

<%# start page content -%>

<header class="header">
  <h1 class="header-h">日本ALO音楽研究所</h1>
  <div class="header-tel">
    <p class="header-tel-number"><span class="header-tel-number-word">TEL</span><span>0120-00-0000</span></p>
    <p class="header-tel-note">10:00〜18:00&nbsp;&nbsp;土日・祝日・年末年始を除く</p>
  </div>
  <div class="header-contact">
    <a href="#" class="btn-contact">お問い合わせ</a>
  </div>
  <nav class="header-menu">
    <div class="header-menu-button">
      <span class="header-menu-button-text">MENU</span>
      <span class="header-menu-button-line"></span>
    </div>
    <div class="header-menu-overlay">
      <h1 class="header-menu-overlay-h">日本ALO音楽研究所</h1>
      <div class="header-menu-overlay-container">
        <div class="header-menu-overlay-content">
          <div class="header-menu-overlay-content-contact">
            <h2 class="header-menu-overlay-content-contact-h">メールでのお問い合わせ</h2>
            <a href="#" class="btn-contact">お問い合わせ</a>
          </div>
          <div class="header-menu-overlay-content-tel">
            <h2 class="header-menu-overlay-content-tel-h">お電話でのお問い合わせ</h2>
            <div class="header-menu-overlay-content-tel-wrap">
              <p class="header-menu-overlay-content-tel-wrap-number">0120-00-0000</p>
              <p class="header-menu-overlay-content-tel-wrap-note">10:00〜18:00&nbsp;&nbsp;土日・祝日・年末年始を除く</p>
            </div>
          </div>
        </div>
        <div class="header-menu-overlay-content">
          <ul class="header-menu-overlay-content-list">
            <li class="header-menu-overlay-content-list-item"><a href="#">ALOについて</a></li>
            <li class="header-menu-overlay-content-list-item"><a href="#">ALOの強み</a></li>
            <li class="header-menu-overlay-content-list-item"><a href="#">ALOの商品紹介</a></li>
            <li class="header-menu-overlay-content-list-item"><a href="#">ご加盟までの流れ</a></li>
            <li class="header-menu-overlay-content-list-item"><a href="#">よくあるご質問</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>

<div class="key-visual">
  <div class="key-visual-img"><img src="<%= img_path %>/gettyimages-1172181572-2048x2048.jpg" /></div>
  <div class="key-visual-container">
    <div class="key-visual-container-bg"></div>
    <div class="key-visual-content">
      <div class="key-visual-title">日本ALO音楽研究所</div>
      <div class="key-visual-typography">
        <p class="key-visual-typography-large">ALO</p>
        <p class="key-visual-typography-row">
          <span>ANIMAL</span>
          <span>LIBERATION</span>
          <span>ORCHESTRA</span>
        </p>
      </div>
      <div class="key-visual-sub-title">この文章はダミーです。</div>
      <div class="key-visual-sub-typography">ANIMAL LIBERATION ORCHESTRA</div>
      <div class="key-visual-overview">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</div>
    </div>
  </div>
  <div class="scroll-down">
    <span class="scroll-down-word">SCROLL DOWN</span>
  </div>
</div>

<section class="about">
  <div class="about-container">
    <div class="about-left">
      <div class="about-first-wrap">
        <h1 class="about-first-h">ABOUT<span class="about-first-h-sub">ABOUT ALO [ANIMAL LIBERATION ORCHESTRA]</span></h1>
        <p class="about-first-overview">この文章はダミーです。<br>文字の大きさ、量、字間、行間等を確認するために入れています。</p>
        <p class="about-first-content">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>  
      </div>
      <div class="about-second-wrap">
        <h2 class="about-second-overview">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</h2>
        <p class="about-second-content">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
      </div>  
    </div>
    <div class="about-right">
      <div class="about-third-wrap">
        <div class="about-third-img"><img src="<%= img_path %>/wood_square.png" /></div>
        <div class="about-third-content">
          <h1 class="about-third-h">ALO<span class="about-third-h-sub">ANIMAL LIBERATION ORCHESTRA</span></h1>
          <p class="about-third-overview">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>  
        </div>
        <div class="about-third-img-accent-wrap">
          <div class="about-third-img-accent">
            <img src="<%= img_path %>/gettyimages-1217234785-2048x2048.jpg" />
          </div>
        </div>
      </div>  
    </div>

    <div class="about-graph">
      <div class="about-graph-img"><img src="<%= img_path %>/about_graph.png" /></div>
      <div class="about-graph-container">
        <h1 class="about-graph-overview">この文章はダミーです。<br>文字の大きさ、量、字間、行間等を確認するため</h1>
        <p class="about-graph-content">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
      </div>
    </div>
  </div>
</section>

<section class="product">
  <div class="product-container">
    <h1 class="product-h">PRODUCT<span class="product-h-sub">PRODUCT INFORMATION</span></h1>
    <p class="product-overview">この文章はダミーです。</p>
    <p class="product-content">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>  
  </div>
</section>

<footer class="footer">
  <div class="footer-img"><img src="<%= img_path %>/gettyimages-1150277961-2048x2048.jpg" /></div>
  <div class="footer-tel">
    <h2 class="footer-tel-h">お電話でのお問い合わせはこちら</h2>
    <div class="footer-tel-wrap">
      <p class="footer-tel-wrap-number">
        0120-00-0000
        <span class="footer-tel-wrap-note">10:00〜18:00&nbsp;&nbsp;土日・祝日・年末年始を除く</span>
      </p>
    </div>
    <div class="footer-page-top">
      <div class="footer-page-top-img"><img src="<%= img_path %>/arrow.png" /></div>
      <div class="footer-page-top-text">PAGE TOP</div>
    </div>
  </div>
  <div class="footer-link">
    <ul class="footer-link-list">
      <li><a href="#">企業案内</a></li>
      <li><a href="#">プライバシポリシー</a></li>
    </ul>
    <span class="footer-link-company">&copy;&nbsp;COMPANY</span>
  </div>
</footer>

<%# end page content -%>

  <!-- local JS -->
  <%- include(INCLUDE_PATH + 'foundation/_scripts.ejs', { js_path: assetsRelative() + 'js' }); -%>

</body>
</html>
